body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center,
        #1a0029, #090011, #030008 80%);
    background-size: 200% 200%;
    animation: bgmove 12s ease infinite;
    font-family: "Segoe UI", sans-serif;
    color: #fff;
}

@keyframes bgmove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.city-container {
    text-align: center;
    padding-top: 40px;
}

.city-title {
    font-size: 40px;
    color: #e86bff;
    text-shadow: 0 0 12px #d100ff;
}

.city-sub {
    margin-top: -10px;
    color: #b97cff;
}

.building-grid {
    display: grid;
    width: 80%;
    margin: 50px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.neon-box {
    padding: 25px;
    font-size: 20px;
    border: 2px solid #b300ff;
    box-shadow:
        0 0 10px #b300ff,
        0 0 20px #8000ff inset;
    border-radius: 15px;
    background: rgba(40, 0, 60, 0.5);
    cursor: pointer;
    transition: 0.3s;
}

.neon-box:hover {
    transform: scale(1.08);
    box-shadow:
        0 0 20px #ff00ff,
        0 0 40px #c200ff inset;
    color: #ffb3ff;
}
